
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');

:root {
    --input-small-text:0.8rem;
    --small-color:#F8F8F8;
    --form-color: #3a3a3a;
    --form-font:'Comfortaa', cursive;
    --body-font:'Carme', sans-serif;
}
* {
    box-sizing: border-box;
}




body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: var(--body-font);
    width: 95%;
    margin: auto;
    font-size: 1.1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    width: 100%;
}

img[src="images/site/logo.png"]+p>a:first-child {
    margin-right: 2rem;
}

#account-link:visited {
    color: #3a3a3a
}

nav {
    background-color: #3a3a3a;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 1rem;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-out;
    color:#002D62;
}

/* a:visited {
    color: #ffffff;
} */

/* a:hover {
    color: #002D62;

} */

nav a {
    color: #ffffff !important;
}

nav>ul>li:not(:first-of-type) {
    margin-left: 1rem;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>p {
    margin: auto;
    line-height: 1.5rem;
    text-align: center;
}

hr {
    height: 0.5rem;
    background-color: #3a3a3a;
}

/* BODY FOOTER AND HEADER END */

/* HOME START */

.dole-feautures {

    color: #002D62;
    text-align: start;
    line-height: 0.3rem;
    margin-top: 3rem;
    z-index: 2;
    position: relative;
    margin-left: 4rem;

}

.dole-feautures p:nth-child(1) {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#home-desk-btn {
    display: none;
    margin-left: 4rem;
}

.dole-btn {
    position: relative;
    z-index: 3;
    padding: 1rem;
    transition: all 0.1s ease-in;
    background-color: #002D62;
    ;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    border-radius: 2px;
}

.dole-btn:hover {
    background-color: #4c96d7;
    border-radius: 8px;

}


.dole-img img,
figure img {
    max-width: 100%;
    display: block;
    height: auto;

}

.dole-img img {
    margin-left:2rem;
}

.car-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: -4rem;
    /* margin-left: 4rem; */
    z-index: 1;
    position: relative;
    padding-left: 4rem;

}

.dole-reviews p:nth-child(1) {
    text-align: start;
    font-size: 2rem;
    margin-bottom: 0rem;
}

.dole-reviews ul {
    line-height: 2rem;
}

.reviews-photos {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dole-upgrades-container p:nth-child(1) {
    text-align: start;
    font-size: 2rem;
    margin-bottom: 0rem;
}

.dole-parts {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));

}

figcaption a {
    color: #ffffff !important;
}

.dole-parts figure {
    background-color: #002D62;
    ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 0rem;

}

/* HOME END */

/*REGISTER/LOGIN START */


 .section-form {
    font-family:var(--form-font);
    width: 95%;
    margin: 3em auto;
    background-color: var(--form-color);
    padding: 1em;
    color:#ffffff;
}






.section-form .intro {
    margin-bottom: 2em;
}

.section-form h1 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.6em;
}


input[type=file],
textarea,
select,
input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    margin-bottom: 1em;
    font-size: .9em;
    /* color: #cfcece; */
    color: #555555;
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    font-weight: 300;
    height: 45px;
    outline: none;
}

textarea {
    height:auto;
}



select {
    color: #555555;
}

input[type=file] {
padding-left:0rem;
}

input[type=submit] {
    width: 100%;
    cursor: pointer;
    margin: 0;
    padding: .5em 2em;
    background: #636363;
    background:  #4c96d7;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
  
}



.no-account-link {
    text-align: center;
    font-size:1.2rem;
    margin-top:1rem;
    margin-bottom:0rem;
}

.no-account-link>a {
    transition: all 0.2s ease-in-out;
    color: #a6cbeb;
    
}

.small-message {
    font-size:var( --input-small-text);
    color:var(--small-color);
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    
}

.error-message {
    color:red;
}

.success-message {
    color:#00755E;
}

/* .no-account-link>a:hover {
    color: #4c96d7;
    
} */


/*REGISTER/LOGIN END */


/* VEHICLES CLASSICATION PAGE */
.items-list {
    list-style: none;
    width: 95%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.items-list__img {
    max-width: 100%;
    height: auto;
    display: block;
}

.items-list__vehicle {
    width: 200px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;

}

.items-list__link {
   
}

.items-list__text {
    padding: 0 0.5rem 0.5rem 0.5rem;

}

.items-list-title {
    font-size: 1.2rem;
    position: relative;
    top: 0rem;
}

.items-list__price {
    position: relative;
    top: 0rem;
}

/* VEHICLES CLASSICATION PAGE END */


/* VEHICLE INFO PAGE */


.item {
    width:95%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    .item__img {
        max-width: 100%;
        display: block;
        height: auto;
    }

/* VEHICLE INFO PAGE END */
 

@media (min-width:768px) {

/* CODE FROM ACTIVITY*/

/* For vehicle display in classification view */
/* #inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
}

#inv-display h2{
    font-size: 1rem;
}

#inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
#inv-display div {
    width: 100%;
} */
   /* END OF CODE FROM ACTIVITY */



    body {
        width: 98%;
    }

    /* HOME CSS START */
    .reviews-photos {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        flex-wrap: wrap;

        align-items: baseline;
    }

    #home-desk-btn {
        display: block;
    }

    .dole-btn {
        display: none;
    }

    .dole-parts {
        grid-template-columns: repeat(2, minmax(350px, 1fr));

    }

    .car-container {
        margin-top: -9rem;

    }
    /* HOME CSS START END */


    /*REGISTER/LOGIN START */ 
    .section-form {
        width:30rem;
    }

    .review-form {
    width:50%;
    margin-left:0rem;
    }
    input[type=button] {
        width:auto;
    }

   /*REGISTER/LOGIN END */ 

   /* VEHICLE INFO PAGE */
.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.7rem;
   
}
 



/* VEHICLE INFO PAGE END */



/* VEHICLES CLASSICATION PAGE */
.items-list {
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    }

/* VEHICLES CLASSICATION PAGE END*/




}


/* UPLOADS PAGE START */
.upload-block {
    margin-left: 0rem;
    margin-top: 0rem;

}

.image-display {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
}


@media (min-width:768px) {
    .image-display {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: flex-end;

    }


}
/* UPLOADS PAGE END */



@media (min-width:1020px) {
    /* HOME START */

    .car-container {
        margin-top: -12rem;

    }

    .dole-img img {
        margin-left:5rem;
    }

    /* HOME END */
    
}



#vehicle-data {
    display: flex;
    flex-direction: column-reverse;
}

#thumbnail-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
}


#thumbnail-mobile-title {
    display: block;
}

@media (min-width:768px) {
    #vehicle-data {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }

    #thumbnail-mobile-title {
        display: none;
    }

    #thumbnail-block {
        flex-direction: column;
        row-gap: 1rem;

    }

    #thumbnail-block>img {
        transition: all 0.3s ease-in-out;
    }

    #thumbnail-block>img:hover {
        transform: scale(1.2);
    }


}




/* TEST CODE */


#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.review-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.review-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.review-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.review-box{
    width:500px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: var(--form-color);
    font-size: 0.8rem;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 1rem;
}
.review-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .review-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .review-box{
        width:100%;
    }
    .review-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}